@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #e0c879;
}

.gridLayout {
  display: grid;
  grid-template-columns: 50% 50%;
}

.boxShadow1 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.boxShadow2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
